@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Добро пожаловать на мою страничку со стихами. <br> 
        Здесь вы можете ознакомиться с моим творчеством, а так же оставлять свои комментарии.<br> 
        Блог еще на стадии доработки, ожидайте скорого появления котиков и читайте пока что есть. <br>Искренне ваша Саша.
    </p>

    
</article>

