@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефончик</h3>
    </header>
    <p>
        <span class="label">Mobile:</span>
        <span>+375 29 156-65-63</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">:</span>
        <span><a href="mailto:Support@example.com">Alexandra.mix@yandex.ru</a></span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        Беларусь, г.Минск<br />
        ул. Беды 4, 802а, стол у окна =)
    </p>
</section>